language: node_js
node_js:
  - "8"
cache: yarn
install:
  - cd webpage
  - yarn
script:
  - yarn build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
  local_dir: webpage/build
